### Importación de datos

In [1]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

### Detalle de tablas

##### Todas las tablas manejan el mismo encabezado (nombre de columna) y no hay filas en blanco

In [2]:
tienda1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [3]:
tienda2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [4]:
tienda3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [5]:
tienda4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

#1. Análisis de facturación

In [8]:
def facturacion_total(df, nombre_tienda):
    total = df['Precio'].sum()
    return pd.DataFrame({'Tienda': [nombre_tienda], 'Facturación Total': [total]})

In [9]:
fact_t1 = facturacion_total(tienda1, 'Tienda 1')
fact_t2 = facturacion_total(tienda2, 'Tienda 2')
fact_t3 = facturacion_total(tienda3, 'Tienda 3')
fact_t4 = facturacion_total(tienda4, 'Tienda 4')

In [10]:
facturacion = pd.concat([fact_t1, fact_t2, fact_t3, fact_t4])
facturacion = facturacion.sort_values(by='Facturación Total', ascending=False).reset_index(drop=True)

In [11]:
facturacion['Facturación Total (En miles)'] = (facturacion['Facturación Total'] / 1_000).round(2)

In [12]:
facturacion_tiendas = facturacion.drop(columns=['Facturación Total'])

In [13]:
print("Facturación total por tienda:")
print(facturacion_tiendas)

Facturación total por tienda:
     Tienda  Facturación Total (En miles)
0  Tienda 1                     1150880.4
1  Tienda 2                     1116343.5
2  Tienda 3                     1098019.6
3  Tienda 4                     1038375.7

#### Segmentación por año

In [14]:
def totales_anual(df):
    df['Fecha de Compra'] = pd.to_datetime(df['Fecha de Compra'], format='%d/%m/%Y')
    df['Año'] = df['Fecha de Compra'].dt.year
    resumen = df.groupby('Año')['Precio'].sum()
    return resumen

In [15]:
anual_t1 = totales_anual(tienda1).rename('Tienda 1')
anual_t2 = totales_anual(tienda2).rename('Tienda 2')
anual_t3 = totales_anual(tienda3).rename('Tienda 3')
anual_t4 = totales_anual(tienda4).rename('Tienda 4')

In [16]:
df_anual = pd.concat([anual_t1, anual_t2, anual_t3, anual_t4], axis=1)
df_anual.loc['Total'] = df_anual.sum()

In [17]:
df_anual['Tienda 1'] = (df_anual['Tienda 1']/1_000).round(2)
df_anual['Tienda 2'] = (df_anual['Tienda 2']/1_000).round(2)
df_anual['Tienda 3'] = (df_anual['Tienda 3']/1_000).round(2)
df_anual['Tienda 4'] = (df_anual['Tienda 4']/1_000).round(2)

In [18]:
print("📆 Facturación total por año y tienda:")
print(df_anual)

📆 Facturación total por año y tienda:
        Tienda 1   Tienda 2   Tienda 3   Tienda 4
Año
2020    368933.2   320466.6   321707.5   330847.7
2021    362120.8   351215.5   362954.4   347823.6
2022    316565.6   358226.5   350438.3   302221.5
2023    103260.8    86434.9    62919.4    57482.9
Total  1150880.4  1116343.5  1098019.6  1038375.7

# 2. Ventas por categoría

In [19]:
def categorias_populares(df, nombre_tienda, top_n=5):
    conteo_cat = df['Categoría del Producto'].value_counts().head(top_n)
    print(f"\nTop {top_n} categorías más populares en {nombre_tienda}:")
    print(conteo_cat)
    return conteo_cat

In [20]:
cat_t1 = categorias_populares(tienda1, 'Tienda 1')
cat_t2 = categorias_populares(tienda2, 'Tienda 2')
cat_t3 = categorias_populares(tienda3, 'Tienda 3')
cat_t4 = categorias_populares(tienda4, 'Tienda 4')

Top 5 categorías más populares en Tienda 1:
Categoría del Producto
Muebles                 465
Electrónicos            448
Juguetes                324
Electrodomésticos       312
Deportes y diversión    284
Name: count, dtype: int64

Top 5 categorías más populares en Tienda 2:
Categoría del Producto
Muebles                 442
Electrónicos            422
Juguetes                313
Electrodomésticos       305
Deportes y diversión    275
Name: count, dtype: int64

Top 5 categorías más populares en Tienda 3:
Categoría del Producto
Muebles                 499
Electrónicos            451
Juguetes                315
Electrodomésticos       278
Deportes y diversión    277
Name: count, dtype: int64

Top 5 categorías más populares en Tienda 4:
Categoría del Producto
Muebles                 480
Electrónicos            451
Juguetes                338
Deportes y diversión    277
Electrodomésticos       254
Name: count, dtype: int64

In [21]:
df_categorias = pd.DataFrame({
    'Tienda 1': cat_t1,
    'Tienda 2': cat_t2,
    'Tienda 3': cat_t3,
    'Tienda 4': cat_t4
})

In [22]:
df_categorias['Total'] = df_categorias[['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']].sum(axis=1)

In [23]:
df_categorias = df_categorias.sort_values(by='Total', ascending=False)

In [24]:
print("\nTop 5 productos más populares por tienda:")
print(df_categorias)

Top 5 productos más populares por tienda:
                        Tienda 1  Tienda 2  Tienda 3  Tienda 4  Total
Categoría del Producto
Muebles                      465       442       499       480   1886
Electrónicos                 448       422       451       451   1772
Juguetes                     324       313       315       338   1290
Electrodomésticos            312       305       278       254   1149
Deportes y diversión         284       275       277       277   1113

#### Precio promedio por categoría

In [25]:
df_todas_las_tiendas = pd.concat([tienda1, tienda2, tienda3, tienda4], ignore_index=True)
precio_promedio_por_categoria = df_todas_las_tiendas.groupby('Categoría del Producto')['Precio'].mean().reset_index()
precio_promedio_por_categoria = precio_promedio_por_categoria.sort_values(by='Precio', ascending=False)
print(precio_promedio_por_categoria)

    Categoría del Producto        Precio
2        Electrodomésticos  1.152960e+06
3             Electrónicos  9.371199e+05
4   Instrumentos musicales  4.631774e+05
7                  Muebles  4.017291e+05
1     Deportes y diversión  1.284615e+05
0  Artículos para el hogar  7.887644e+04
5                 Juguetes  5.705767e+04
6                   Libros  5.080337e+04

# 3. Calificación promedio de la tienda

In [26]:
def promedio_evaluacion(df, nombre_tienda):
    promedio = df['Calificación'].mean()
    print(f"Promedio de evaluación en {nombre_tienda}: {promedio:.2f}")
    return promedio

In [27]:
prom_t1 = promedio_evaluacion(tienda1, 'Tienda 1')
prom_t2 = promedio_evaluacion(tienda2, 'Tienda 2')
prom_t3 = promedio_evaluacion(tienda3, 'Tienda 3')
prom_t4 = promedio_evaluacion(tienda4, 'Tienda 4')

Promedio de evaluación en Tienda 1: 3.98
Promedio de evaluación en Tienda 2: 4.04
Promedio de evaluación en Tienda 3: 4.05
Promedio de evaluación en Tienda 4: 4.00

In [28]:
promedios = pd.DataFrame({
    'Tienda': ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4'],
    'Promedio de Evaluación': [prom_t1, prom_t2, prom_t3, prom_t4]
}).sort_values(by='Promedio de Evaluación', ascending=False)

In [29]:
promedios = promedios.round(2)

In [30]:
print("Resumen de promedios de evaluación:")
print(promedios)

Resumen de promedios de evaluación:
     Tienda  Promedio de Evaluación
2  Tienda 3                    4.05
1  Tienda 2                    4.04
3  Tienda 4                    4.00
0  Tienda 1                    3.98

#### Segmentación por año

In [31]:
def promedio_evaluacion_anual(df, nombre_tienda):
    # Convertir fecha a datetime
    df['Fecha de Compra'] = pd.to_datetime(df['Fecha de Compra'], format='%d/%m/%Y')
    df['Año'] = df['Fecha de Compra'].dt.year

    # Agrupar por año y calcular promedio de evaluación
    promedio_anual = df.groupby('Año')['Calificación'].mean().rename(nombre_tienda)
    return promedio_anual

In [32]:
eval_t1 = promedio_evaluacion_anual(tienda1, 'Tienda 1')
eval_t2 = promedio_evaluacion_anual(tienda2, 'Tienda 2')
eval_t3 = promedio_evaluacion_anual(tienda3, 'Tienda 3')
eval_t4 = promedio_evaluacion_anual(tienda4, 'Tienda 4')

In [33]:
df_evaluaciones = pd.concat([eval_t1, eval_t2, eval_t3, eval_t4], axis=1)

In [34]:
fila_totales = pd.DataFrame({'Tienda 1': [prom_t1], 'Tienda 2': [prom_t2], 'Tienda 3': [prom_t3], 'Tienda 4': [prom_t4]}, index=['Totales'])

In [35]:
df_evaluaciones = pd.concat([df_evaluaciones, fila_totales])

In [36]:
df_evaluaciones = df_evaluaciones.round(2)

In [37]:
print("Promedio de evaluación por año segun tienda:")
print(df_evaluaciones)

Promedio de evaluación por año segun tienda:
         Tienda 1  Tienda 2  Tienda 3  Tienda 4
2020         3.93      4.04      4.12      4.02
2021         3.96      4.00      3.93      3.96
2022         4.04      4.10      4.09      3.97
2023         3.96      3.96      4.08      4.17
Totales      3.98      4.04      4.05      4.00

# 4. Productos más y menos vendidos

In [64]:
def productos_mas_menos_vendidos(df, nombre_tienda, top_n=1):
    conteo_productos = df['Producto'].value_counts()

    mas_vendido = conteo_productos.head(top_n)
    menos_vendido = conteo_productos[conteo_productos == conteo_productos.min()].head(top_n)

    print(f"Producto(s) más vendido(s) en {nombre_tienda}:")
    print(mas_vendido)

    print(f"Producto(s) menos vendido(s) en {nombre_tienda}:")
    print(menos_vendido)

    return mas_vendido, menos_vendido

In [65]:
prod_t1 = productos_mas_menos_vendidos(tienda1, 'Tienda 1')
prod_t2 = productos_mas_menos_vendidos(tienda2, 'Tienda 2')
prod_t3 = productos_mas_menos_vendidos(tienda3, 'Tienda 3')
prod_t4 = productos_mas_menos_vendidos(tienda4, 'Tienda 4')

Producto(s) más vendido(s) en Tienda 1:
Producto
Microondas    60
Name: count, dtype: int64
Producto(s) menos vendido(s) en Tienda 1:
Producto
Auriculares con micrófono    33
Name: count, dtype: int64
Producto(s) más vendido(s) en Tienda 2:
Producto
Iniciando en programación    65
Name: count, dtype: int64
Producto(s) menos vendido(s) en Tienda 2:
Producto
Juego de mesa    32
Name: count, dtype: int64
Producto(s) más vendido(s) en Tienda 3:
Producto
Kit de bancas    57
Name: count, dtype: int64
Producto(s) menos vendido(s) en Tienda 3:
Producto
Bloques de construcción    35
Name: count, dtype: int64
Producto(s) más vendido(s) en Tienda 4:
Producto
Cama box    62
Name: count, dtype: int64
Producto(s) menos vendido(s) en Tienda 4:
Producto
Guitarra eléctrica    33
Name: count, dtype: int64

In [58]:
import pandas as pd

# Crear la tabla con precios incluidos
datos = [
    {
        "Tienda": "Tienda 1",
        "Más vendido": prod_t1[0].index[0],
        "Unidades (más)": prod_t1[0].values[0],
        "Precio promedio (más)": tienda1[tienda1['Producto'] == prod_t1[0].index[0]]['Precio'].mean(),
        "Menos vendido": prod_t1[1].index[0],
        "Unidades (menos)": prod_t1[1].values[0],
        "Precio promedio (menos)": tienda1[tienda1['Producto'] == prod_t1[1].index[0]]['Precio'].mean(),
    },
    {
        "Tienda": "Tienda 2",
        "Más vendido": prod_t2[0].index[0],
        "Unidades (más)": prod_t2[0].values[0],
        "Precio promedio (más)": tienda2[tienda2['Producto'] == prod_t2[0].index[0]]['Precio'].mean(),
        "Menos vendido": prod_t2[1].index[0],
        "Unidades (menos)": prod_t2[1].values[0],
        "Precio promedio (menos)": tienda2[tienda2['Producto'] == prod_t2[1].index[0]]['Precio'].mean(),
    },
    {
        "Tienda": "Tienda 3",
        "Más vendido": prod_t3[0].index[0],
        "Unidades (más)": prod_t3[0].values[0],
        "Precio promedio (más)": tienda3[tienda3['Producto'] == prod_t3[0].index[0]]['Precio'].mean(),
        "Menos vendido": prod_t3[1].index[0],
        "Unidades (menos)": prod_t3[1].values[0],
        "Precio promedio (menos)": tienda3[tienda3['Producto'] == prod_t3[1].index[0]]['Precio'].mean(),
    },
    {
        "Tienda": "Tienda 4",
        "Más vendido": prod_t4[0].index[0],
        "Unidades (más)": prod_t4[0].values[0],
        "Precio promedio (más)": tienda4[tienda4['Producto'] == prod_t4[0].index[0]]['Precio'].mean(),
        "Menos vendido": prod_t4[1].index[0],
        "Unidades (menos)": prod_t4[1].values[0],
        "Precio promedio (menos)": tienda4[tienda4['Producto'] == prod_t4[1].index[0]]['Precio'].mean(),
    }
]

In [59]:
tabla_comparativa = pd.DataFrame(datos)
print("Tabla comparativa de producto más y menos vendido por tienda:")

Tabla comparativa de producto más y menos vendido por tienda:
     Tienda                Más vendido  Unidades (más)  Precio promedio (más)  \
0  Tienda 1                 Microondas              60          579358.333333
1  Tienda 2  Iniciando en programación              65           48120.000000
2  Tienda 3              Kit de bancas              57          292978.947368
3  Tienda 4                   Cama box              62          531391.935484

               Menos vendido  Unidades (menos)  Precio promedio (menos)
0  Auriculares con micrófono                33            143357.575758
1              Juego de mesa                32            181621.875000
2    Bloques de construcción                35             35348.571429
3         Guitarra eléctrica                33            782518.181818

In [60]:
tabla_comparativa["Precio promedio (más)"] = tabla_comparativa["Precio promedio (más)"].round(2)
tabla_comparativa["Precio promedio (menos)"] = tabla_comparativa["Precio promedio (menos)"].round(2)

In [62]:
print(tabla_comparativa)

     Tienda                Más vendido  Unidades (más)  Precio promedio (más)  \
0  Tienda 1                 Microondas              60              579358.33
1  Tienda 2  Iniciando en programación              65               48120.00
2  Tienda 3              Kit de bancas              57              292978.95
3  Tienda 4                   Cama box              62              531391.94

               Menos vendido  Unidades (menos)  Precio promedio (menos)
0  Auriculares con micrófono                33                143357.58
1              Juego de mesa                32                181621.88
2    Bloques de construcción                35                 35348.57
3         Guitarra eléctrica                33                782518.18

# 5. Envío promedio por tienda

In [40]:
def costo_promedio_envio(df, nombre_tienda):
    promedio_envio = df['Costo de envío'].mean()
    print(f"Costo promedio de envío en {nombre_tienda}: ${promedio_envio:.2f}")
    return promedio_envio

In [41]:
envio_t1 = costo_promedio_envio(tienda1, 'Tienda 1')
envio_t2 = costo_promedio_envio(tienda2, 'Tienda 2')
envio_t3 = costo_promedio_envio(tienda3, 'Tienda 3')
envio_t4 = costo_promedio_envio(tienda4, 'Tienda 4')

Costo promedio de envío en Tienda 1: $26018.61
Costo promedio de envío en Tienda 2: $25216.24
Costo promedio de envío en Tienda 3: $24805.68
Costo promedio de envío en Tienda 4: $23459.46

In [42]:
envios = pd.DataFrame({
    'Tienda': ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4'],
    'Costo Promedio de Envío': [envio_t1, envio_t2, envio_t3, envio_t4]
}).sort_values(by='Costo Promedio de Envío')

In [43]:
envios = envios.round(2)

In [44]:
print("\nResumen de costo promedio de envío por tienda:")
print(envios)

Resumen de costo promedio de envío por tienda:
     Tienda  Costo Promedio de Envío
3  Tienda 4                 23459.46
2  Tienda 3                 24805.68
1  Tienda 2                 25216.24
0  Tienda 1                 26018.61

# Recomendación a partir del análisis

In [63]:
print("Al observar la información generada, se encuentra que la tienda con menor facturación anual es la Tienda 4, y este bajo desempeño en la facturación se observó desde el 2021.")
print("Facturación total por año según tienda:")
print(df_anual)
print(" ")
print("Asimismo, al desglosar la información por popularidad de categoría, se encuentra que las dos categorías más populares en todas las tiendas son Muebles y Electrónicos.")
print("Top 5 categorías más populares por tienda:")
print(df_categorias)
print(" ")
print("Aunque la Tienda 4 tiene alta popularidad en la venta de productos de la categoría de Electrónicos, sus ventas son significativamente bajas en la categoría Electrodomésticas, la cual es la categoría que mayor rendimiento genera")
print("Precio promedio por categoría")
print(precio_promedio_por_categoria)
print(" ")
print("Respecto a la evaluación que realiza el cliente sobre su experiencia de compra, la tienda 4 es la segunda con peor rendimiento a pesar de su mejora en los últimos 3 años y su destacado rendimiento en lo que va del año del 2023.")
print("Promedio de evaluación por año según tienda:")
print(df_evaluaciones)
print(" ")
print("Además, al comparar los productos más vendidos y menos vendidos por tienda, se encuentra que en todas las tiendas el producto menos vendido siempre tiene un precio menor que los productos más vendidos, a excepción de la tienda 4. En la tienda 4, el precio del producto menos vendido sobre pasa notablemente el precio del producto más vendido, lo cual genera un menor retorno a comparación de las otras tiendas.")
print("Tabla comparativa de producto más y menos vendido por tienda:")
print(tabla_comparativa)
print(" ")
print("Finalmente, la tienda con menores costos promedios de envío es la Tienda 4. Aunque esto se interpreta como un signo positivo, también podría atribuirse a que los productos más rentables, como los Electrodomésticos, son los que más costo generan en envío.")
print("Resumen de costo promedio de envío por tienda:")
print(envios)
print(" ")
print("Por ello, la Tienda que es menos rentable es la Tienda 4, y debe ser la que se debería poner a la venta.")

Al observar la información generada, se encuentra que la tienda con menor facturación anual es la Tienda 4, y este bajo desempeño en la facturación se observó desde el 2021.
Facturación total por año según tienda:
        Tienda 1   Tienda 2   Tienda 3   Tienda 4
Año
2020    368933.2   320466.6   321707.5   330847.7
2021    362120.8   351215.5   362954.4   347823.6
2022    316565.6   358226.5   350438.3   302221.5
2023    103260.8    86434.9    62919.4    57482.9
Total  1150880.4  1116343.5  1098019.6  1038375.7

Asimismo, al desglosar la información por popularidad de categoría, se encuentra que las dos categorías más populares en todas las tiendas son Muebles y Electrónicos.
Top 5 categorías más populares por tienda:
                        Tienda 1  Tienda 2  Tienda 3  Tienda 4  Total
Categoría del Producto
Muebles                      465       442       499       480   1886
Electrónicos                 448       422       451       451   1772
Juguetes                     324       313       315       338   1290
Electrodomésticos            312       305       278       254   1149
Deportes y diversión         284       275       277       277   1113

Aunque la Tienda 4 tiene alta popularidad en la venta de productos de la categoría de Electrónicos, sus ventas son significativamente bajas en la categoría Electrodomésticas, la cual es la categoría que mayor rendimiento genera
Precio promedio por categoría
    Categoría del Producto        Precio
2        Electrodomésticos  1.152960e+06
3             Electrónicos  9.371199e+05
4   Instrumentos musicales  4.631774e+05
7                  Muebles  4.017291e+05
1     Deportes y diversión  1.284615e+05
0  Artículos para el hogar  7.887644e+04
5                 Juguetes  5.705767e+04
6                   Libros  5.080337e+04

Respecto a la evaluación que realiza el cliente sobre su experiencia de compra, la tienda 4 es la segunda con peor rendimiento a pesar de su mejora en los últimos 3 años y su destacado rendimiento en lo que va del año del 2023.
Promedio de evaluación por año según tienda:
         Tienda 1  Tienda 2  Tienda 3  Tienda 4
2020         3.93      4.04      4.12      4.02
2021         3.96      4.00      3.93      3.96
2022         4.04      4.10      4.09      3.97
2023         3.96      3.96      4.08      4.17
Totales      3.98      4.04      4.05      4.00

Además, al comparar los productos más vendidos y menos vendidos por tienda, se encuentra que en todas las tiendas el producto menos vendido siempre tiene un precio menor que los productos más vendidos, a excepción de la tienda 4. En la tienda 4, el precio del producto menos vendido sobre pasa notablemente el precio del producto más vendido, lo cual genera un menor retorno a comparación de las otras tiendas.
Tabla comparativa de producto más y menos vendido por tienda:
     Tienda                Más vendido  Unidades (más)  Precio promedio (más)  \
0  Tienda 1                 Microondas              60              579358.33
1  Tienda 2  Iniciando en programación              65               48120.00
2  Tienda 3              Kit de bancas              57              292978.95
3  Tienda 4                   Cama box              62              531391.94

               Menos vendido  Unidades (menos)  Precio promedio (menos)
0  Auriculares con micrófono                33                143357.58
1              Juego de mesa                32                181621.88
2    Bloques de construcción                35                 35348.57
3         Guitarra eléctrica                33                782518.18

Finalmente, la tienda con menores costos promedios de envío es la Tienda 4. Aunque esto se interpreta como un signo positivo, también podría atribuirse a que los productos más rentables, como los Electrodomésticos, son los que más costo generan en envío.
Resumen de costo promedio de envío por tienda:
     Tienda  Costo Promedio de Envío
3  Tienda 4                 23459.46
2  Tienda 3                 24805.68
1  Tienda 2                 25216.24
0  Tienda 1                 26018.61

Por ello, la Tienda que es menos rentable es la Tienda 4, y debe ser la que se debería poner a la venta.